body {
  font-family: -apple-system, 'Avenir', 'Helvetica Neue';
  line-height: 1.4em;
}

#contentArea {
  font-size: 17px;
  line-height: 1.4em;
}

.contentWrapper h1 {
  font-size: 36px;
  font-weight: 500;
}

#fullArticle {
  font-size: 17px;
  line-height: 1.4em;
  color: rgb(20, 20, 20);
}

#fullArticle h1.title {
  margin: 0 1em 1.2em 0;
}

#fullArticle h2 {
  font-weight: 500;
}

#fullArticle h2 a {
  color: rgb(20, 20, 20);
}

#fullArticle a:hover h2 {
  text-decoration: none;
  color: rgb(20, 20, 20); /* Override link color. See #fullArticle #*/
}

#fullArticle h2 a:hover {
  text-decoration: none;
  color: rgb(20, 20, 20); /* Override link color. See #fullArticle #*/
}

#fullArticle h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
}

#fullArticle p, #fullArticle ul, #fullArticle ol, #fullArticle li, #fullArticle div, #fullArticle blockquote, #fullArticle dd, #fullArticle table {
  font-size: 17px;
  line-height: 1.4em;
}

#fullArticle .callout-yellow ul, #fullArticle .callout-blue ul, #fullArticle .callout-red ul, #fullArticle .callout-green ul, #fullArticle .callout ul, #fullArticle .private-note ul,
#fullArticle .callout-yellow ol, #fullArticle .callout-blue ol, #fullArticle .callout-red ol, #fullArticle .callout-green ol, #fullArticle .callout ol, #fullArticle .private-note ol,
#fullArticle .callout-yellow li, #fullArticle .callout-blue li, #fullArticle .callout-red li, #fullArticle .callout-green li, #fullArticle .callout li, #fullArticle .private-note li {
  font-size: 14px;
}

p + ul {
  margin-top: -1em;
}

body.embedded {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* https://docs.helpscout.net/article/79-retina-logo */
#mainNav .brand span {
  display: inline-block;
  text-indent: -9000px;
  width: 32px;
  height: 32px;
  margin-top: 18px;

  background: url("https://raw.githubusercontent.com/meganpappalardo/helpcenter/main/R%20(2).png") no-repeat 0 0;
  background-size: 100%;
}

#mainNav .brand::after {
  margin-left: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;

  content: "Rally";
}

@media screen and (max-width: 768px) {
  .navbar .btn-navbar {
    margin-top: 32px;
  }


}

#mainNav .container-fluid {
  line-height: 90px;
  min-height: 90px;
}

.container-fluid {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  width: 250px; /* Adjust the width as per your preference */
  height: 300px; /* Adjust the height as per your preference */
  margin: 10px; /* Add margin between categories */
}

@media screen and (min-width: 768px) {
  .contentWrapper {
    padding: 70px 90px;
  }
}

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input, button, select, textarea {
  font-family: -apple-system, "Avenir", "Helvetica Neue"
}

input:focus, textarea:focus {
	box-shadow: 0 0 0px 1px #ff8000 inset !important;
	border-color: #ff8000 !important;
}

a, a:hover, a:focus {
  color: #ff8000;
}

@media(min-width: 769px) {
  .nav-collapse .collapse {
    text-align: right;
  }

  .navbar .nav {
    position: relative;
  }
}

#fullArticle dt {
	padding: 0;
	width: 26px;
	background: #ff8000;
	height: 26px;
	line-height: 26px;
	font-weight: 500;
	font-size: 14px;
}

#fullArticle dd {
  padding-top: 0px;
}

#fullArticle dd p:first-child {
  margin-top: 0px;
}

#searchBar button {
  background-color: #ff8000;
  text-shadow: none;
  border: 0px;
}

#sidebar .nav-list a {
  font-size: 1em;
}

.articleList {
  font-size: 1em;
}

.articleList a {
  line-height: 1em;
}

@media(min-width: 769px) {
  .category-list .category {
    width: 28%;
  }
}

.navbar .nav li a {
  font-size: 14px;
  color: #7e7e7e;
}

#docsSearch {
  border-top: 1px solid #FFE4D7;
  border-bottom: 1px solid #FFE4D7;
  Height: 350px;

  background-color: #ffeee6;
  background-image: url("https://s3.amazonaws.com/tgl.public/support/helpscout-docs-background.png");
}

#docsSearch h1 {
  margin-top: 7%;
  color: black;
}

.lp {
  color: white;
}

/*.nav {
  background-color: white;
}
*/
.articleFoot {
  font-size: 8pt;
}

.articleFoot p, .articleFoot time {
  font-family: inherit;
  font-style: normal;
}

#fullArticle .ios .platform:before, .tabButton.ios:before {
    content: url("https://s3.us-east-1.amazonaws.com/tgl.public/support/os-system-apple-3.svg");
    display: inline;
    height: 100%;
    float: left;
    margin: 0 6px 0px 0;
}

#fullArticle .android .platform:before, .tabButton.android:before {
    content: url("https://s3.us-east-1.amazonaws.com/tgl.public/support/android-1.svg");
    display: inline;
    height: 100%;
    float: left;
    margin: 0 6px 0px 0;
}

#fullArticle .platform {
  font-size: 17px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1px;
}

#fullArticle .screenshots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

#fullArticle .screenshots img {
  margin-top: 0px;
}

#fullArticle .screenshots .ios, #fullArticle .screenshots .android {
  width: 50%;
  max-width: 350px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#fullArticle .screenshots .platform {
  border-bottom: none;
  margin-bottom: 0px;
}

.tabs nav {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.tabs nav button {
    font-size: 17px;
    color: #666;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #666;

    margin-right: 10px;

    line-height: 21px;
}

.tabs nav button.active {
    font-weight: bold;
    border: 3px solid #666;
}

.tabs .tab {
  margin-top: 15px;
}

#fullArticle img.screenshot {
  max-width: 350px;
}

@media screen and (max-width: 768px) {
  #fullArticle img.screenshot {
    max-width: 100%;
  }
}

#contact {
  display: none;
}

.printArticle {
  display: none;
}
.category-list .category {
    background-color: #fff;
    background-position: top 20px center !important;
    background-repeat: no-repeat !important;
    background-size: 100px auto !important;
    box-shadow: 0 7px 4px -5px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    min-height: 183px;
    padding: 170px 20px 15px;
    position: relative;
    width: 31.5%;
    transition: all 0.2s;
    border-radius: 20px;
}
/* Category Images*/
/*Data for Admins*/
#category-71 {
	background-image: url("https://relentless-x-rally.github.io/help-center/assets/images/data.png");
}
/*Getting Started*/
#category-55 {
	background-image: url("https://relentless-x-rally.github.io/help-center/assets/images/getting-started.png");
}
/*Features*/
#category-70 {
	background-image: url("https://relentless-x-rally.github.io/help-center/assets/images/help-center-icons-1000x1000.png");
}
/*Program*/
#category-73 {
	background-image: url("https://relentless-x-rally.github.io/help-center/assets/images/program.png");
}
/*Getting Started-Mobz*/
#category-40 {
	background-image: url("https://relentless-x-rally.github.io/help-center/assets/images/mobz.png");
}
/*Account Info*/
#category-74 {
	background-image: url("https://relentless-x-rally.github.io/help-center/assets/images/account.png");
}
/*Voting Resources*/
#category-38 {
	background-image: url("https://relentless-x-rally.github.io/help-center/assets/images/vote.png");
}

.category {
  width: 250px; /* Adjust the width as per your preference */
  height: 300px; /* Adjust the height as per your preference */
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    Line-height: 1em;
}

@media (max-width: 768px) {
  .nav-collapse {
    background-color: white;
    z-index: 1000;
  }

  .nav {
      width: 100%;
      z-index: 1000;
  }

  .nav .in .collapse {
    border-bottom: 1px solid gray;
    width: 100%;
  }

  .category-list .category {
    width: 95%;
    margin-bottom: 4%;
    border-radius: 20px;
  }

  .category-list .category h3 {
    margin-top: -5%;
  }


  #docsSearch {
    border-top: 1px solid #FFE4D7;
    border-bottom: 1px solid #FFE4D7;
    height: 225px;

    background-color: #ffeee6;

    background-image: url("https://s3.amazonaws.com/tgl.public/support/helpscout-docs-background.png");
  }
}

/* [role=navigation] {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border-width: 10px;
  border-color: black;
  } */
